<section class="group" id="blog">
</section>

<script>
$(function () {
  // var blogId = <%= @blog.id %>;
  // var currentUserId = <%= logged_in? ? current_user.id : "undefined" %>;

  // Tilblr.initialize(blogId, currentUserId);

  var feed = new Tilblr.Models.Feed({id: feedId});
  var feedView = new Tilblr.Views.FeedView({model: feed});
  
  Tilblr.initialize({
    model: feed,
    view: feedView,
    userId: currentUserId
  });
});
</script>
