<section class="group" id="blog">
</section>

<script>
$(function () {
  var feedId = <%= @blog.id %>;
  var feed = new Tilblr.Models.Feed({id: feedId});
  var feedView = Tilblr.Views.FeedShow;
  
  Tilblr.initialize({
    model: feed,
    view: feedView
  });
});
</script>
