<section class="group" id="blog">
</section>

<script>
$(function () {
  var blogId = <%= @blog.id %>;
  var blog = new Tilblr.Models.Blog({id: blogId});
  var blogView = Tilblr.Views.BlogShow;

  Tilblr.initialize({
    model: blog,
    view: blogView
  });
});
</script>
