<section class="group" id="blog">
</section>

<script>
$(function () {
  var blogId = <%= @blog.id %>;
  var currentUserId = <%= current_user.id %>;

  Tilblr.initialize(blogId, currentUserId);
});
</script>
