<h1>
  <input 
    type="text" 
    name="post[title]" 
    value="<%= post.escape('title') %>" 
    placeholder="Title">
</h1>

<p>
  <textarea 
    type="text" 
    name="post[body]" 
    placeholder="Your text here"><%= post.escape('body') %></textarea>
</p>

<p>
	<input
		type="text"
		name="post[tag_names]"
    value="<%= post.escape('tag_names') %>"
    placeholder="Tag names (space separated)">
</p>

<button class="cancel">Cancel</button>
<button class="submit">Submit</button>
