<h1>
  <input 
    type="text" 
    name="post[title]" 
    value="<%= post.escape('title') %>" 
    placeholder="Title">
</h1>

<p>
  <textarea 
    type="text" 
    name="post[body]" 
    placeholder="Your text here"><%= post.escape('body') %></textarea>
</p>

<button class="cancel">Cancel</button>
<button class="submit">Submit</button>
