<h6><%= post.blog().escape("title") %></h6>
<h1><%= post.escape("title") %></h1> 
<p><%= post.escape("body") %></p>
<% if (Tilblr.Models.currentUser.ownsPost(post)) { %>
  <button class="edit-post">Edit</button>
  <button class="destroy-post">Delete</button>
<% }; %>
