<header class="post-header">
</header>

<figure class="blog-avatar">
  <img src="<%= post.blog().get('avatar_url') %>">
</figure>

<h1><%= post.escape("title") %></h1> 
<p><%= post.escape("body") %></p>

<section class="tags">
</section>

<footer class="post-footer">
</footer>
