<section id="search">
  <section id="blog-results"></section>
  <seciton id="post-results"></seciton>
</section>

<script>
$(function () {
  queryObj = { query: "<%= @query %>" };
  var searchView = Tilblr.Views.SearchView;
  var blogResults = new Tilblr.Collections.BlogResults(queryObj);
  var blogResults = new Tilblr.Collections.PostResults(queryObj);
});
</script>
