<section id="search">
  <section id="blog-results"></section>
  <seciton id="post-results"></seciton>
</section>

<script>
$(function () {
  var searchView = Tilblr.Views.SearchView;
  var blogResults = new Tilblr.Collections.BlogResults();
  var blogResults = new Tilblr.Collections.PostResults();
});
</script>
