.modal-container {
	display: none;
}

.modal-container.visible {
	display: block;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.25);
}

.modal-container form {
	width: 500px;
	margin: 100px auto;
	background: #FFF;
}

#blog {
	width: 900px;
	margin: 0 auto;
}

#blog > * {
	padding: 10px;
}

#blog #posts-index {
	width: 630px;
	float: left;
}

#blog #blog-sidebar {
	width: 230px;
	float: right;
}

#blog-info {
	background: #EEE;
	padding: 5px 10px;
	border-radius: 5px;
}

#follow {
	float: right;
}

#posts-index h1 {
	font-size: 2em;
}

#posts-index h1,
#posts-index p {
	margin: 10px 0; 
}

#blog-sidebar h1 {
	float: left;
	font-size: 1em;
	font-weight: 700;
}

.post {
}

.post > button,
.post > form,
.post > section {
	background: #EEE;
	padding: 10px 20px;
	border-radius: 5px;
}

.create-post.post,
#post-form.post,
.post:not(:last-child) {
	margin-bottom: 10px;
}

.post.active:before {
	content: "";
	display: block;
	position: fixed;
	z-index: 1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.25);
}

#new-post .create-post {
	width: 100%;
	height: 50px
}

#post-form {
	position: relative;
	z-index: 2;
}

#post-form textarea {
	min-width: 100%;
	max-width: 100%;
	min-height: 100px;
	resize: none;
}

#post-form textarea.error {
	background: rgba(255, 0, 0, 0.1);
}

#post-form button {
	padding: 5px 10px;
	border-radius: 2px;
	font-size: .8em;
	font-weight: 700;
	color: white;
}


#post-form .cancel {
	float: left;
	background: #9DA6AF;
}

#post-form .submit {
	float: right;
	background: #529ECC;
}
