.modal-container {
	display: none;
}

.modal-container.visible {
	display: block;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.25);
}

.modal-container form {
	width: 500px;
	margin: 100px auto;
	background: #FFF;
}

#blog {
	width: 810px;
	margin: 0 auto;
	color: #444;
}

#blog > * {
	padding: 10px;
}

#blog #posts-index {
	width: 540px;
	float: left;
}

#blog-sidebar,
#feed-sidebar {
	width: 230px;
	float: right;
}

#blog-info,
#feed-info {
	color: rgba(255, 255, 255, 0.498039);
	font-size: 14px;
}

.follow-container {
	float: right;
}

#posts-index h1 {
	font-size: 2em;
}

#posts-index h1,
#posts-index p {
	margin: 10px 0; 
}

#blog-sidebar h1 {
	float: left;
	font-size: 1em;
	font-weight: 700;
}

.post {
	position: relative;
}

.post > button,
.post > form,
.post > section {
	background: #FFF;
	padding: 10px 20px;
	border-radius: 3px;
}

.post .blog-avatar {
	position: absolute;
	margin: 0;
	top: 0px;
	left: -70px;
}

.post .blog-avatar img {
	display: block;
	height: 60px;
	width: 60px;
	border-radius: 3px;
}

.create-post.post,
#post-form.post,
.post:not(:last-child) {
	margin-bottom: 10px;
}

.post.active:before {
	content: "";
	display: block;
	position: fixed;
	z-index: 1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(54, 70, 93, 0.9);
}

#new-post .create-post {
	width: 100%;
	height: 50px
}

#post-form {
	position: relative;
	z-index: 2;
}

#post-form input[type="text"] {
	width: 100%;
}

#post-form textarea {
	min-width: 100%;
	max-width: 100%;
	min-height: 100px;
	resize: none;
}

#post-form textarea.error {
	background: rgba(255, 0, 0, 0.1);
}

.post button:not(.create-post),
.follow {
	padding: 5px 10px;
	border-radius: 2px;
	font-size: .8em;
	font-weight: 700;
	color: white;
	margin-left: 5px;
}

.destroy-post,
.edit-post {
	float: right;
}

.edit-post,
.follow {
	background: #529ECC;
}

.destroy-post {
	background: #C62E31;
}


#post-form .cancel {
	float: left;
	background: #9DA6AF;
}

#post-form .submit {
	float: right;
	background: #529ECC;
}

#new-blog {
	width: 900px;
	margin: 100px auto;
	padding: 20px;
	background: #FFF;
	color: #444;
	border-radius: 10px;
}

#new-blog h2 {
	font-size: 36px;
	font-weight: 700;
	margin: 20px 0;
}

#new-blog .input:first-child {
	border-top: 1px solid #D7D7D7;
}

#new-blog .input {
	border-bottom: 1px solid #D7D7D7;
}

#new-blog .input label {
	float: left;
	width: 120px;
	padding: 20px;
	vertical-align: center;
	text-align: right;
	background: #F5F5F5;
}

#new-blog .input input {
	float: left;
	padding: 5px;
	margin: 14px;
	width: 400px;
	border: 1px solid #D7D7D7;
}
