.modal-container {
	display: none;
}

.modal-container.visible {
	display: block;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.25);
}

.modal-container form {
	width: 500px;
	margin: 100px auto;
	background: #FFF;
}

#blog {
	width: 810px;
	margin: 0 auto;
	color: #444;
}

#blog > * {
	padding: 10px;
}

#blog #posts-index {
	width: 540px;
	float: left;
}

#blog-sidebar,
#feed-sidebar {
	width: 230px;
	float: right;
}

#blog-info,
#feed-info {
	color: rgba(255, 255, 255, 0.498039);
	font-size: 14px;
}

.follow-container {
	float: right;
}

#blog-sidebar h1 {
	float: left;
	font-size: 1em;
	font-weight: 700;
}


#new-blog {
	width: 840px;
	margin: 0 auto;
	padding: 20px 30px;
	background: #FFF;
	color: #444;
	border-radius: 10px;
}

#new-blog h2 {
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 20px;
}

#new-blog .input:first-child {
	border-top: 1px solid #D7D7D7;
}

#new-blog .input {
	border-bottom: 1px solid #D7D7D7;
}

#new-blog .input label {
	float: left;
	display: block;
	padding: 25px 15px 25px 30px;
	width: 73px;
	background: #F5F5F5;
	text-align: right;
}

#new-blog .input .input-wrapper {
	float: right;
}

.input-wrapper {
	padding: 10px;
	border: 1px solid #D5D9DD;
	font-size: 22px;
}

/*
#new-blog .input label {
	float: left;
	width: 120px;
	padding: 20px;
	vertical-align: center;
	text-align: right;
	background: #F5F5F5;
}

#new-blog .input input {
	float: left;
	padding: 5px;
	margin: 14px;
	width: 400px;
	border: 1px solid #D7D7D7;
}
*/

#new-blog .
.blog-avatar img {
	border-radius: 3px;
}
.blog-item {
	/*margin: 10px 0;*/
	padding: 5px 0;
}

.blog-item .blog-avatar {
	float: left;
}

.blog-item .blog-avatar img {
	height: 40px;
	width: 40px;
}

.blog-item .blog-info {
	float: right;
	margin-left: 10px;
	width: 180px;
}

.blog-item .text-info-section {
	width: 100px;
	float: left;
}

.blog-item .follow-button-section {
	width: 80px;
	float: right;
}

.blog-item .follow {
	margin-top: 9px;
}

.recommendations-header {
	padding: 5px 10px;
	border-bottom: 3px solid #505E72;
}

.recommendations-header h4 {
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
}

.recommended .blog-item:not(:last-child) {
	border-bottom: 1px solid #505E72;
}

.recommended .blog-item:hover {
	background: rgba(255, 255, 255, 0.1)
}
