#main-header {
	background: #EEE;
	position: fixed;
	top: 0;
	width: calc(100% - 20px);
	padding: 10px;
	height: 40px;
}

#header-logo {
	font-size: 2em;
	font-weight: 700;
	float: left;
}

#nav-search:before {
	background-image: url("../images/search.png");
}

#nav-search {
	margin: 0px 20px;
	float: left;
	height: 100%;
	width: calc(100% - 300px);
	vertical-align: bottom;
}

#nav-search input {
	padding: 10px;
	border-radius: 5px;
	width: 100%;
	max-width: 400px;
	background: rgba(0, 0, 0, 0.1);
	transition: background 0.1s linear;
}

#nav-search input:focus {
	background: #FFF;
}

#header-buttons {
	float: right;
	font-size: 13px;
	font-weight: 700;
	color: #FFFFFF;
}

#header-buttons > * {
	float: left;
	border-radius: 2px;
	margin-right: 10px;
}

#header-buttons > a {
	padding: 10px;
}

.register-link {
	background: #FFFFFF;
	color: #444444;
}

.login-link {
	background-color: rgba(159, 159, 159, 0.3);
	color: #FFF;
}

#profile-button {
	padding: 10px;
	border-radius: 2px;
	background-color: rgba(159, 159, 159, 0.3);
	color: #FFF;
}

#profile {
	position: relative;
}

#profile-nav {
	display: none;
	position: absolute;
	right: 0px;
	top: 60px;
	background: #FFF;
	width: 200px;
	border: 1px solid #CCC;
	border-radius: 4px;
	color: black;
}

#profile-nav header {
	background: #EEE;
	border-bottom: 1px solid #CCC;
	font-size: 10px;
	padding: 2px 5px;
}

#profile-nav header.account {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

#profile-nav.visible {
	display: block;
	z-index: 1;
}

#profile-nav h6 {
	font-weight: 700;
	text-transform: uppercase;
	float: left;
}

#profile-nav .new-blog,
#profile-nav .logout-button {
	float: right;
	font-weight: 400;
}

#profile-blogs li a {
	display: block;
	font-weight: 400;
	padding: 3px 5px;
}
