#main-header {
	background: #CCC;
	position: fixed;
	top: 0;
	width: 100%;
}

#header-logo {
	font-size: 1.6em;
	font-weight: 700;
	float: left;
	padding: 5px 10px;
}

.login-link, 
.register-link, 
#profile {
	float: right;
}

#profile {
	position: relative;
}

#profile-nav {
	display: none;
	position: absolute;
	right: 0;
	width: 150px;
}

#profile-nav.visible {
	display: block;
}

#profile-nav h6 {
	font-size: .6em;
	font-weight: 700;
	float: left;
}

#profile-nav .new-blog,
#profile-nav .logout-button {
	font-size: .6em;
	float: right;
}
