#main-header {
}

#header-logo {
	font-size: 1.4em;
	font-weight: 700;
	float: left;
}

.login-link, 
.register-link, 
#profile {
	float: right;
}

#profile-nav {
	display: none;
}

#profile-nav h6 {
	font-size: .6em;
	font-weight: 700;
	float: left;
}

#profile-nav .new-blog,
#profile-nav .logout-button {
	font-size: .6em;
	float: right;
}
