.login-form {
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -250px;
	margin-top: -150px;
	width: 500px;
	height: 300px;
}

.login-form form {
	width: 300px;
	margin: 0 auto;
}

.login-form h1,
.login-form p {
	text-align: center;
}

.login-form h1 {
	font-size: 3em;
	font-weight: 700;
}

.login-form input {
	display: block;
	width: calc(100% - 20px);
	padding: 10px;
}

.login-form input[type="text"] {
	border-bottom: 1px solid #CCC;
}

.login-form input[type="submit"],
.login-form .register-link,
.login-form .google-login {
	width: 100%;
	border: none;
	margin-top: 10px;
	background: #559FCA;
	color: #FFFFFF;
	font-size: 13px;
	font-weight: 700;
}

.login-form input[type="submit"],
.login-form a {
	border-radius: 2px;
}

.login-form .register-link {
	width: calc(100% - 20px);
	background: #5ABB8B;
	text-align: center;
	display: block;
	padding: 10px;
}

.login-form .google-login {
	width: calc(100% - 20px);
	background: #D9442F;
	text-align: center;
	display: block;
	padding: 10px;
}
