#posts-index h1 {
	font-size: 2em;
}

#posts-index h1,
#posts-index p {
	margin: 10px 0; 
}

.post-header a {
	font-size: 13px;
	font-weight: 700;
	color: #A1A1A1;
}

.post {
	position: relative;
}

.post p {
	font-size: 14px;
	line-height: 1.5em;
}

.post > button,
.post > form,
.post > article {
	background: #FFF;
	padding: 10px 20px;
	border-radius: 3px;
}

.post .blog-avatar {
	position: absolute;
	margin: 0;
	top: 0px;
	left: -80px;
}

.post .blog-avatar img {
	display: block;
	height: 60px;
	width: 60px;
	border-radius: 3px;
}

.post .post-footer {
	height: 25px;
}

.create-post.post,
#post-form.post,
.post:not(:last-child) {
	margin-bottom: 20px;
}

.post.active:before {
	content: "";
	display: block;
	position: fixed;
	z-index: 1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(54, 70, 93, 0.9);
}

#new-post .create-post {
	width: 100%;
	height: 50px
}

#post-form {
	position: relative;
	z-index: 2;
}

#post-form input[type="text"] {
	width: 100%;
}

#post-form textarea {
	min-width: 100%;
	max-width: 100%;
	min-height: 100px;
	resize: none;
}

#post-form textarea.error {
	background: rgba(255, 0, 0, 0.1);
}

.post button:not(.create-post),
.follow {
	padding: 5px 10px;
	border-radius: 2px;
	font-size: .8em;
	font-weight: 700;
	color: white;
	margin-left: 5px;
}

.destroy-post,
.edit-post {
	float: right;
}

.edit-post,
.follow {
	background: #529ECC;
}

.destroy-post {
	background: #C62E31;
}


#post-form .cancel {
	float: left;
	background: #9DA6AF;
}

#post-form .submit {
	float: right;
	background: #529ECC;
}
