<header id="main-header">
  <navbar class="group">
    <h1 id="header-logo">
      <a href="#">til</a>
    </h1>
    <% unless logged_in? %>
      <%= link_to "Log in", {controller: :sessions, action: :new}, { class: "login-link" } %>
      <%= link_to "Sign Up", {controller: :users, action: :new}, { class: "register-link" } %>
    <% else %>
      <%= button_to "Log Out", { controller: :sessions, action: :destroy }, method: :delete, form_class: "logout-button" %>
    <% end %>
  </navbar>
</header>
